html, body {
  width:  100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

canvas {
  display: block;
  border: 1px solid white;
}

.media-control {
  display: flex;
  gap: 30px;
}

#pause-play,
#stop {
  cursor: pointer;
}

